<%= render 'shared/header' %> 

<div class='main'>
 <h2>ショップ</h2>
 <hr class="border-line" />

 <ul class='post-lists'>
   <li class='list'>
     <%= render partial: 'posts/post', locals: {posts: @posts} %>
   </li>
 </ul>  
</div>

<div id="mask" class="hidden"></div>

<div id="modal" class="hidden">
</div>