<%= render 'shared/header' %> 

<div class='user-main'>
  <%= @user.name %>
  <hr class="user-border-line" />

  <ul class='post-lists'>
    <li class='list'>
      <%= render partial: 'posts/post', collection: @posts %>
    </li>
  </ul>  
</div>