<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav-left">
        <%= link_to "EnLife", root_path, class: "logo" %>
      </div>    
      <div class="nav-right">
        <%= link_to "#{current_user.name}", user_path(current_user.id), class: "user-name" %>
        <%= link_to "Post", new_post_path, class: "post" %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "logout" %>          
      </div>
    </div>
  </div>
</header>
