<%= render 'shared/header' %> 

<div class='main'>
 <h2>飲食店</h2>
 <hr class="border-line" />

 <ul class='post-lists'>
   <li class='list'>
     <%= render partial: 'posts/restaurant', collection: @restaurants %>
   </li>
 </ul>  
</div>