html{
  color:#000;
  background-image: #FFF;
}

body,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p {
  margin:0;
  padding:0;
}

img {
  border:0;
}

ul {
  list-style:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size:30px;
  font-weight:normal;
  font-family: monospace;
}

a {
  text-decoration: none;
  color: #3b4043;
  font-family: monospace;
}



